@page "/form-common-input"

<PageTitle>Form Common Input</PageTitle>

<h3>Form Common Input</h3>
<hr/>

<div class="container mb-4">
	<_TextBox></_TextBox>
	<br/>
	<_TextArea></_TextArea>
	<br/>
	<_NumericTextbox></_NumericTextbox>
	<br/>
	<_RadioButton></_RadioButton>
	<br />
	<_Checkbox></_Checkbox>
	<br />
	<_RangeSlider></_RangeSlider>
	<br />
	<_ColorPicker></_ColorPicker>
	<br />
	<_FileUpload></_FileUpload>
	<br />
	<_Buttons></_Buttons>
	<br/>
	<_ButtonGroup></_ButtonGroup>
</div>

@code {

}
