<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorServerSyncfusion</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Danh sách nhân viên
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/image-editor">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Image Editor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/combobox">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ComboBox
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/combobox-2">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ComboBox Data Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dropdown-menu">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Dropdown Menu
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dropdown-list">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Dropdown List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dropdown-list-2">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Dropdown List Data Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cascading-dropdown-list">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cascading Dropdown List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/multiselect-dropdown">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> MultiSelect Dropdown
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/multiselect-dropdown-2">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> MultiSelect + Data Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form-common-input">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Form Common Input
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/data-grid-advance">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Data Grid Try out
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

